


<% if user %>


<h1>Hi <%= user.email %></h1>
<form action="/logout" method="POST">
<input type="submit" name="submit" value="Logout">
</form>

<br>


<form action="/add_task" method="POST">
<input type="text" name="content" /> <br>
<input type="submit" value="TWEET" />
</form>
<ul>
<!-- +++++++++++++ -->
<% manish.each do |user| %>
<%= user.email%>
<%puts "user.email" %><br>
<%end%>
<!-- +++++++++++++++++ -->

<%
if tasks
tasks.each do |task|  %>

<% if task.done %>
	<li class="strikethrough">
<% else %>
	<li>
<% end %>

 <%= task.content  %>@<%= user.email %>

	<form action="/toggle_task" method="POST">

<input type="hidden" name="task_id" value="<%= task.id %>"/>
<input type="submit" value="TOGGLE TWEET">

	</form>

	<form action="/delete" method="POST">

<input type="hidden" name="task_id" value="<%= task.id %>"/>
<input type="submit" value="DELETE TWEET ">

	</form>
	<!-- +++++++++++++++++ -->
			<form action="/update" method="POST">

		<input type="hidden" name="task_id" value="<%= task.id %>"/>

		<input type="submit" value="update">

			</form>

</li>
<% end

 end %>
</ul>


<style>
	.strikethrough {
		text-decoration: line-through;
	}
</style>

<% end %>
